name: "Update Readme With Latest Blog Posts"
on:
  schedule:
    - cron: "0 8 * * *"
  workflow_dispatch:

permissions:
  contents: write
  id-token: write

# One build per branch, cancel out of date builds
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  update-readme-with-blog:
    name: "Update this repos README with latest blog posts"
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: "Pull in posts"
        uses: gautamkrishnar/blog-post-workflow@6a6e64abd1f651445da8e59611d0ca0110979aa5 # v1
        with:
          feed_list: "https://smcleod.net/index.xml"
          max_post_count: "15"
          gh_token: ${{ secrets.GITHUB_TOKEN }}
          filter_comments: "false"
          readme_path: "README.md"
          committer_username: "Github Actions"
          committer_email: "github-actions[bot]@users.noreply.github.com"
          user_agent: "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
          accept_header: "application/rss+xml, application/xml, text/xml, */*"
          retry_count: "3"
          retry_wait_time: "2"
          disable_item_validation: "true"
