name: Generate 3D Contrib Profile

on:
  schedule:
    - cron: "0 18 */2 * *"
  workflow_dispatch:

permissions:
  contents: write
  id-token: write

# One build per branch, cancel out of date builds
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    name: generate-github-profile-3d-contrib
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: yoshi389111/github-profile-3d-contrib@208d8215bd117497a02c94f559f94474ba23819c # v0.9.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          USERNAME: ${{ github.repository_owner }}
      - name: Commit & Push
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add -A .
          git commit -m "Generate 3d Profile"
          git push
